@font-face {
  font-family: "uncialAntiqua";
  src: url("/static/UncialAntiqua-Regular.ttf");
}

a, h1, h2, h3, h4, h5, p, .nav-link, label, li {
    color: #d22a2a;
    font-family: 'uncialAntiqua', 'Impact', sans-serif;
    list-style: none;
}

body {
    background-image: url("/static/campground.jpg");
}

li {
    margin: 0 4em;
}

li:hover a:hover {
    color: #d22a2a;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;
    padding-bottom: 24px;
    text-decoration: underline dotted 5px #d22a2a;
}

#content {
    background-color: #aaaaaa;
    border: red 1em dashed;
    margin: 20em 20%;
    padding: 2em;
    width: 1350px;
    height: 900px;
}

#alert {
    display: none;
}