{% extends "base.html" %}
{% block content %}

    <div id="content" class="">
        <h1>about</h1>
        <p>It's the campground site where the dog chase you after you vroom vroom. Who let the dogs out?</p>
        <h3>Credits</h3>
        <ul>
            <li>Flask</li>
            <li>Bevy Game Engine<ul>
                <li>bevy_mod_reqwest (for api)</li>
                <li>bevy_easings (for movement)</li>
                <li>rand (for random numbers)</li>
            </ul></li>
            <li>P5.js</li>
            <li>ML%</li>
            <li>Teachable Machine</li>
            <li>Xander MacPherson (for crash image)</li>
            <li></li>
        </ul>
    </div>
{% endblock %}